
.container {
  width: 800px;
  height: 500px;
  /* padding: 10px; */
  margin: 30px auto;
  background-color: #d3d3d3;
  display: flex;
}

.container div {
  background-color: #080;
  /* padding: 10px; */
  width: 150px;
  max-height: 100px;
  flex-grow: 0;
}


.container .one {
  background-color: blue;
}
.container .two {
  background-color:cadetblue;
}
.container .three {
  background-color: burlywood;
}
.container .four {
  background-color: rgb(31, 147, 177);
  
}