.navbar {
  display: flex;
  background: #36c997;
  border-radius:0px 0px 15px 15px;
  height: 100px;
}

.navbar a {
  text-decoration: none;
  font-size: large;
  color: #fff;
  margin: 0 10px;
}

.brand {
  font-size: larger;
  align-self: center;
}

.left {
  margin: auto;
  flex-grow: 1;
}

.right {
  margin: auto 20px auto auto;
}

.menu {
  background-color: #36c997;
  display: flex;
  flex-direction: column;
  border-radius:0px 0px 15px 15px;
  transform: translateY(-100%);
  transition: transform linear 700ms;
  padding: 10px;
  z-index: 10;
  position: fixed;
}

.menu a {
    padding-right: 30px;
    font-size: larger;
    padding: 5px;
  }

@media only screen and (max-width: 580px) {
  a{
    margin: 0 3px;
  }
  .left {
    display: none;
  }
  .menu-collapse {
    transform: translateY(-8%);
    position: relative;
  }
  .side {
    display: none;
  }
}