.footer {
  display: flex;
  flex-wrap: wrap;
  background: #36c997;
  border-radius:15px 15px 0px 0px;
  padding: 5px 10px;
  flex:  0.12;
}

.footer a {
  text-decoration: none;
  font-size: large;
  color: #fff;
  margin: 0 10px;
}

/* .brand {
  font-size: larger;
}

.right {
  margin: auto;
  flex-grow: 1;
}

.left {
  margin: auto 0px auto auto;
}
.menu {
  display: none;
}

@media only screen and (max-width: 580px) {
  a{
    margin: 0 3px;
  }
  .right {
    display: none;
  }
  .left a:first-child {
    display: none;
  }
  .menu-collapse {
    display: inline-flex;
    flex-direction: column;
    margin: 0px 0px 15px;
    width: 80%;
  }
  .menu-collapse a {
    border-bottom: 1px solid #999090;
    padding-right: 30px;
    font-size: larger;
    padding: 5px;
  }
} */